__pycache__/boolean_retrival.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/file_operations.cpython-39.pyc
__pycache__/language_operations.cpython-39.pyc
__pycache__/list_operations.cpython-39.pyc
__pycache__/vbcode.cpython-39.pyc
__pycache__/vsm.cpython-39.pyc
dictionary.txt
lengths.txt
postings.txt
dataset/dataset.csv
indexing_log.txt
output-test.txt
workspace.code-workspace
__pycache__/boolean_retrieval.cpython-39.pyc
__pycache__/filenames.cpython-39.pyc
old/boolean_retrieval.py
old/config.py
old/file_operations.py
old/index.py
old/language_operations.py
old/list_operations.py
old/README.md
old/search.py
old/vbcode.py
old/vsm.py
old/__pycache__/boolean_retrieval.cpython-39.pyc
old/__pycache__/config.cpython-39.pyc
old/__pycache__/file_operations.cpython-39.pyc
old/__pycache__/filenames.cpython-39.pyc
old/__pycache__/language_operations.cpython-39.pyc
old/__pycache__/list_operations.cpython-39.pyc
old/__pycache__/vbcode.cpython-39.pyc
old/__pycache__/vsm.cpython-39.pyc
output-test2.txt
queries/q1.txt
queries/q2.txt
queries/q3.txt
