__pycache__/boolean_retrival.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/file_operations.cpython-39.pyc
__pycache__/language_operations.cpython-39.pyc
__pycache__/list_operations.cpython-39.pyc
__pycache__/vbcode.cpython-39.pyc
__pycache__/vsm.cpython-39.pyc
dictionary.txt
lengths.txt
postings.txt
dataset/dataset.csv
indexing_log.txt
output-test.txt
